/* $Id: $ */

/* ========= Package Categories ========= */

.packages-header h2.category-title span {
    /*font-size: 80%;*/
}

.packages-header h2.category-title a:hover,
.packages-header h2.category-title a:active {
    text-decoration: underline !important;
}

.category-statistics {
    display: block;
    float: right;
    margin-right: 3em;
}

.php-version {
    margin: 0.2em 3em 0 0;
    float: right;
}

.php-version-selected {
    font-weight: bold;
}

ul.categories {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    clear: both;
    width: 760px;
}

ul.categories a {
    border-bottom: none;
}

ul.categories li {
    float: left;
    width: 33%;
    list-style-type: none;
    padding: 1em 0;
    margin: 0;
}

/* IE6 hack */
* html ul.categories li {
    height: 85px;
}

ul.categories li.category-clear {
    clear: left;
}

ul.categories h3 {
    margin: 0 2em 0 0;
    font-size: 100%;
    background: url(../images/category-background.png) top right no-repeat;
    min-height: 23px;

}

/* IE6 hack */
* html ul.categories h3 {
    height: 23px;
}

ul.categories h3 a {
    display: block;
    position: relative;
}

ul.categories h3 a:link,
ul.categories h3 a:visited {
    text-decoration: none;
}

ul.categories h3 a:hover span.category-title,
ul.categories h3 a:active span.category-title {
    text-decoration: underline;
}

ul.categories h3 span.category-count {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 75%;
    display: block;
    width: 23px;
    text-align: center;
    color: #666;
}

ul.categories h3 a:hover span.category-count,
ul.categories h3 a:active span.category-count {
    color: #999;
}

ul.categories h3 span.category-title {
    margin-right: 2em;
    font-size: 100%;
    background: #fff;
    padding-right: 6px;
}

ul.categories div {
    font-size: 75%;
    margin-right: 4em;
}

ul.categories div a:link,
ul.categories div a:visited {
    text-decoration: none;
    color: #333;
}

ul.categories div a:hover,
ul.categories div a:active {
    text-decoration: underline;
    color: #060;
}

a.category {
    font-weight: bold;
}

ul.categories .category-sub-category {
    font-weight: bold;
}

.categories-clear {
    clear: left;
}

.channel-tip {
    width: 684px;
    border: 1px solid;
    margin: 1em auto;
    padding: 0 14px 0 62px;
    min-height: 48px;
    background: #eef url(../images/tip.png) no-repeat 0 0;
    color: #448;
    border-color: #aaf;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.channel-tip p.para {
    margin: 1em 0;
}

.packages {
    margin: 0 auto;
    width: 760px;
    font-size: 16px;
}

h3.packages-sub-header {
    font-size: 12px;
    color: #888;
    width: 760px;
    margin: 0 auto;
    background: url(../images/category-header-background.png) top left repeat-x;
}

h3.packages-sub-header span {
    background: #fff;
    padding-right: 6px;
}

.package-beta {
    color: #da2;
}

.package-alpha,
.package-unmaintained,
.package-license-bad a:link,
.package-license-bad a:visited,
.package-notes a:link,
.package-notes a:visited {
    color: #b32;
    border-color: #b32;
}

.package-license-bad a:hover,
.package-license-bad a:active,
.package-notes a:hover,
.package-notes a:active {
    color: #710;
    border-color: #710;
}

.package {
    border-top: 1px solid #e5f1e5;
    margin: 0;
    padding: 1em 0;
    clear: left;
    color: #333;
}

.package-first {
    border: none;
}

.package-title {
    font-weight: bold;
    font-size: 100%;
}

.package-title a {
    border: none;
    text-decoration: none;
}

.package-title a:hover,
.package-title a:active {
    text-decoration: underline;
}

.package-info {
    padding: 0 1em 1em 0;
    float: left;
    width: 420px;
}

.package-more-info {
    margin-left: 420px;
}

.package-description p {
    font-size: 75%;
    margin: 0;
}

.package-notes p {
    color: #b32;
    font-size: 75%;
    margin: 0;
}

.package table {
    font-size: 75%;
}

.package table th {
    text-align: right;
    font-weight: normal;
    padding: 0 1em 0 0;
    color: #888;
    font-size: 85%;
}

.package table td {
    padding: 0;
}
