body {
    padding-top: 40px;
}
.container-fluid > .sidebar {
    position: fixed;
    top: 50px;
}
.sidebar div {
    background-color: #f5f5f5;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.15);
    box-shadow: 0px 0px 5px rgba(0,0,0,.15);
}
.sidebar ul {
    margin-bottom: 5px;
}
h1 {
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
}
.tcenter {
    text-align: center;
}
.vmiddle {
    vertical-align: middle;
}
.main table {
    margin-bottom: 9px;
}
.main h1 {
    margin-bottom: 5px;
}
.main h2 {
    margin-top: 35px;
}
.modal form {
    margin: 0;
}
.modal form .clearfix {
    margin: 5px 0 5px 0;
}
.footer {
    margin-top: 5px;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    font-style: italic;
    font-weight: bold;
}