body, td, th {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 90%;
}

p {
    font-family: verdana,arial,helvetica,sans-serif;
}

th.pack {
    color: #FFFFFF;
    background: #009933;
    text-align: right;
}

th.others {
    color: #006600;
    text-align: left;
}

em {
    font-weight: bold;
    font-style: italic;
}

.newsDate {
    font-size: 85%;
    font-style: italic;
    color: #66cc66;
}

.compact {
    font-family: arial, helvetica, sans-serif;
    font-size: 90%;
}

.menuWhite {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
    color: #ffffff;
}
.menuBlack {
    font-family: verdana,arial,helvetica,sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 75%;
    color: #000000;
}

.sidebar {
    font-size: 85%;
}

code, pre, tt {
    font-family: Courier, "Courier New", monospace;
    font-size: 90%;
}

pre.php {
    border-color:       black;
    border-style:       dashed;
    border-width:       1px;
    background-color:   #eeeeee;
    padding:            5px;
}

h1 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 140%;
    font-weight: bold;
    color: #006600;
}

h2 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #006600;
}

h3 {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 110%;
    font-weight: bold;
    color: #006600;
}

small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

a.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
    text-decoration: none;
}

.tableTitle {
    font-family: verdana,arial,helvetica,sans-serif;
    font-weight: bold;
}

.tableExtras {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 85%;
    color: #FFFFFF;
}

input {
    font-family: verdana,arial,helvetica,sans-serif;
}

textarea {
    font-family: verdana,arial,helvetica,sans-serif;
}

input.small, select.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

textarea.small {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 75%;
}

form {
    margin-bottom : 0;
}

.error {
	font-size: 80%;
	color: red;
}

.listing li {
    line-height: 200%;
}