# Environment variables that are set in the development environment and override
# the settings in the config directory files.

# Application environment
PECL_ENV=dev

# http or https
PECL_SCHEME="http"

# PECL channel host (domain name)
PECL_HOST="pecl.localhost"
