body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: white;
    color: black;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 90%;
    max-height: 100%;
}

#wrapper {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

#header {
    float: left;
    width: 100%;
    background: navy;
    height: 70px;
    color: white;
}

#logo {
    float: left;
    width: 120px;
    margin-top: 0;
    padding: 0;
    height: 60px;
}

#subheader {
    float: right;
    text-align: right;
    margin-top: 0;
    margin-right: 0;
    color: white;
}
#subheader a {
    color: white;
    text-decoration: none;
}

#footer {
    padding: 5px 0 5px 160px;
    clear: both;
    background: navy;
    font-size: 0.8em;
    color: #030;
}

div.class {
    clear: both;
}

#menu li {
    list-style-type: none;
    display: inline;
}

#menu li a {
    background-color: navy;
    color: #fff;
    display: block;
    float: left;
    font-size: 100%;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    border-bottom: none;
    font-family: verdana, helvetica, sans-serif;
}

#menu li.current a, #menu li.current a:hover {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

#menu li a:hover {
    background: #fff;
    color: navy;
}

#menu li:first-child {
    margin-left: 1em;
}

#submenu {
    clear: left;
    width: auto;
    height: 22px;
    text-align: right;
    margin-top: 0px!important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    margin-bottom: 0px!important;
}

#submenu a {
    text-decoration: none;
    border-bottom: none;
    vertical-align: middle;
    line-height: 22px;
}

#submenu li.current a, #submenu li.current a:hover  {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

#submenu li {
    display: inline;
    font-size: 93%;
    padding: 0 1px 0 5px;
    border-left: 1px solid #999;
}

#submenu li:first-child {
    margin-left: 2em;
    border-left: none;
}

#page-header {
    background: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

#page-header h2 {
    color: #888;
    border: none;
    font-size: 136%;
    margin: 0;
}

#latest_release ul {
    list-style-type: none;
}

#latest_release li {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.maintainer_list {
    width: 520px;
}

#maintainer_list img {
    padding-right: 3px;
    vertical-align: middle;
}


#maintainer_list span.name {
    float: left;
    width: 50%;
}

#maintainer_list span.handle {
    float: left;
    width: 24%;
}


#maintainer_list span.cmd {
    float: right;
}

#maintainer_list ul {
    list-style: none;
}

#maintainer_list li {
    list-style: none;
    margin: 0 2px;
    border-bottom: 1px solid #999;
    padding: 3px 7px;
    background: white;
}
#my_package {
    float: left;
    padding-top: 10px;
}

#my_pecl_bugs {
    background-image: url('/images/pecl-icon.png');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border:  1px solid;
    margin: 5px 5px 5px 5px;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding: 2px;
    padding-top: 32px;
    border-radius:3px;
}

#my_php_bugs {
    background-image: url('/images/php_bugs.gif');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border:  1px solid;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding-top: 32px;
    border-radius:3px;
}

#my_follow_bugs {
    background-image: url('/images/bug_link.png');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border:  1px solid;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding-top: 32px;
    border-radius:3px;
}

div.release_action_released {
    color: green;
}

div.release_action_view {
    color: black;
}