body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: white;
    color: black;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 90%;
    max-height: 100%;
}

#wrapper {
    top: 0;
    left: 0;
    width: 98%;
    position: absolute;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
    align: center;
}

#header {
    position: relative;
    top: 0px;
    float: left;
    width: 100%;
    padding: 8px 5px 7px 10px;
    font-size: 12px;
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logo {
    background-color: navy;
    float: left;
    margin-top: 0;
    padding: 0;
    vertical-align: middle;
}

#menu {
	position: absolute;
	bottom:0;
	left: 80px;
    right: 0;
    margin: 0;
    padding: 0;

}

#menu li {
    list-style: none;
    float: left;
}

#userinfo {
	position: absolute;
    right: 5px;
	bottom: 5px;
}
#menu li a {
    display: block;
    padding: 3px 8px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

#menu li a:hover {
    color: #000;
}

#menu li ul {
    display: none;
}

#menu li:hover ul, #menu li.hover ul {
    position: absolute;
    display: inline;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

#menu li:hover li, #menu li.hover li {
    float: left;
}

#menu li:hover li a, #menu li.hover li a {
    color: #000;

}

#menu li li a:hover {
    color: #357;
}
#menu li.active {
    padding: 3px 8px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
#subheader a {
    color: white;
    text-decoration: none;
}

#footer {
    padding: 5px 0 5px 160px;
    clear: both;
    background: navy;
    font-size: 0.8em;
    color: #030;
}

div.class {
    clear: both;
}

ul.nav.logged_out, #header {
    background: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#f5f5f5', endColorstr = '#ececec');
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#f5f5f5), to(#E8E8E8));
    background: -moz-linear-gradient(270deg, #f5f5f5, #ECECEC);
    border-color: #EEE;
    border: 1px solid #ececec;
    border-bottom-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#page-header {
    background: #f0f0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    text-align: center;
}

#page-header h2 {
    color: #888;
    border: none;
    font-size: 136%;
    margin: 0;
}

#latest_release ul {
    list-style-type: none;
}

#latest_release li {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.maintainer_list {
    width: 520px;
}

#maintainer_list img {
    padding-right: 3px;
    vertical-align: middle;
}

#maintainer_list span.name {
    float: left;
    width: 50%;
}

#maintainer_list span.handle {
    float: left;
    width: 24%;
}

#maintainer_list span.cmd {
    float: right;
}

#maintainer_list ul {
    list-style: none;
}

#maintainer_list li {
    list-style: none;
    margin: 0 2px;
    border-bottom: 1px solid #999;
    padding: 3px 7px;
    background: white;
}

#my_package {
    float: left;
    padding-top: 10px;
}

#my_pecl_bugs {
    background-image: url('/images/pecl-icon.png');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border: 1px solid;
    margin: 5px 5px 5px 5px;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding: 2px;
    padding-top: 32px;
    border-radius: 3px;
}

#my_php_bugs {
    background-image: url('/images/php_bugs.gif');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border: 1px solid;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding-top: 32px;
    border-radius: 3px;
}

#my_follow_bugs {
    background-image: url('/images/bug_link.png');
    background-repeat: no-repeat;
    float: left;
    min-width: 200px;
    width: 30%;
    border: 1px solid;
    border-color: blue;
    margin: 5px 5px 5px 5px;
    padding-top: 32px;
    border-radius: 3px;
}

div.release_action_released {
    color: green;
}

div.release_action_view {
    color: black;
}