<?php extract($page->data); ?>
<h2>Error 404 - document not found</h2>

<p>The requested document <i><?php echo htmlspecialchars($_SERVER['REQUEST_URI'], ENT_QUOTES); ?></i> was not
found on this server.</p>

<?php if (is_array($packages) && count($packages) > 0) { ?>
	Searching the current list of packages for
	<i><?php echo htmlspecialchars(basename($_SERVER['REQUEST_URI'], ENT_QUOTES)); ?></i> included the
	following results:
	
	<ul>
	<?php foreach($packages as $p) { ?>
		<li>
			<?php print_link(getURL($pinfo_url . $p['name']), $p['name']); ?><br />
			<i><?php echo $p['summary']; ?></i><br /><br />
		</li>
	<?php } ?>
	</ul>
	
	<?php if($show_search_link) { ?>
		<p align="center">
			<?php print_link(getURL('/package-search.php?pkg_name=' . htmlspecialchars(basename($_SERVER['REQUEST_URI'], ENT_QUOTES)) . '&amp;bool=AND&amp;submit=Search'), 'View full search results...'); ?>
		</p>
<?php
    }
}
?>

<p>If you think that this error message is caused by an error in the
configuration of the server, please contact
<a href="mailto:pecl-dev@lists.php.net">pecl-dev@lists.php.net</a>.
