
<h1>About this site</h1>

<p>This site has been created and is maintained by a number of people,
which are listed on the <?php echo make_link("/credits.php", "credits page"); ?>.
If you would like to contact them, you can write to
<?php echo make_mailto_link("pear-webmaster@php.net"); ?>.</p>

<p>It has been built with <?php echo make_link("http://httpd.apache.org/", "Apache"); ?>,
<?php echo make_link("http://php.net/", "PHP"); ?>,
<?php echo make_link("http://www.mysql.com/", "MySQL"); ?> and some
(as you might have guessed) PEAR packages. Additionally we have started
to use a set of utility classes. We call it
<?php echo make_link("damblan.php", "Damblan"); ?>. The source code of
the website is
<?php echo make_link("http://cvs.php.net/viewvc.cgi/pearweb/", "available via CVS"); ?>.
</p>

<p>Read the <?php echo make_link("privacy.php", "privacy policy"); ?>.</p>
