<?php
extract($page->data);
?>
<h1><img src="https://secure.gravatar.com/avatar/<?php echo md5($user_info->email); ?>" /><?php echo $user_info->name; ?></h1>
<table border="0" cellspacing="4" cellpadding="0">
<tr><td valign="top">
<!-- border box starts -->
<table cellpadding="0" cellspacing="1" style="width: 100%; border: 0px;">
 <tr>
  <td bgcolor="#000000">
   <table cellpadding="2" cellspacing="1" style="width: 100%; border: 0px;">
<tr style="background-color: #CCCCCC;">
 <th colspan="2">Account Details</th>
</tr>
<tr>
 <th valign="top" bgcolor="#cccccc">Handle:</th>
 <td valign="top" bgcolor="#e8e8e8"><?php echo $user_info->handle; ?></td>
</tr>
<?php if ($user_info->homepage) { ?>
<tr>
 <th valign="top" bgcolor="#cccccc">Homepage:</th>
 <td valign="top" bgcolor="#e8e8e8"><a href="<?php echo $user_info->homepage; ?>" target="_blank"><?php echo $user_info->homepage; ?></a></td>
</td>
</tr>
<?php } ?>
<tr>
 <th valign="top" bgcolor="#cccccc">Registered since:</th>
 <td valign="top" bgcolor="#e8e8e8"><?php echo $user_info->created; ?></td>
</tr>
<tr>
 <th valign="top" bgcolor="#cccccc">Additional information:</th>
 <td valign="top" bgcolor="#e8e8e8">&nbsp;</td>
</tr>
<?php if ($user_info->homepage) { ?>
<tr>
 <th valign="top" bgcolor="#cccccc">Wishlist:</th>
 <td valign="top" bgcolor="#e8e8e8"><a href="/wishlist.php/<?php echo $user_info->handle; ?>">Click here to be redirected.</a></td>
</tr>
<?php } ?>
   </table>
  </td>
 </tr>
</table>
<!-- border box ends -->
</td><td valign="top">
<!-- border box starts -->
<table cellpadding="0" cellspacing="1" style="width: 100%; border: 0px;">
 <tr>
  <td bgcolor="#000000">
   <table cellpadding="2" cellspacing="1" style="width: 100%; border: 0px;">
<tr style="background-color: #CCCCCC;">
 <th colspan="2">Maintaining These Packages:</th>
</tr>
<tr>
 <th valign="top" bgcolor="#ffffff">Package Name</th>
 <th valign="top" bgcolor="#ffffff">Role</th>
</tr>
<?php foreach ($packages as $pkg) {?>
<tr>
 <td valign="top" bgcolor="#ffffff"><a href="/package/<?php echo $pkg->name; ?>"><?php echo $pkg->name; ?></a></td>
 <td valign="top" bgcolor="#ffffff"><?php echo $pkg->role; ?></td>
</tr>
<?php } ?>
   </table>
  </td>
 </tr>
</table>

<!-- border box ends -->
<br /><a href="/account-edit.php?handle=<?php echo $user_info->handle; ?>"><img src="/gifs/edit.gif" style="border: 0;" width="13" height="13" alt="Edit"  /></a></td></tr></table>
