<?php
$load_jquery = true;
response_header("PEAR Administration - Package maintainers");
?>

<?php if ($mode =="edit") { ?>
<form>
<input id="newname" name="newname" type="text">
<input type="button" id="btn-add" value="Add as">
<select name="role" id="role">
    <option value="helper">helper</option>
    <option value="developer">developer</option>
    <option value="lead">lead</option>
</select>

 <select name="maintainers[]" id="maintainers" multiple="multiple" size="10">
<?php
    foreach ($maintainer_list as $maintainer) {
?>
    <option value="<?php echo $maintainer['handle'] . '|' . $maintainer['role']?>"><?php echo $maintainer['handle'] . '(' . $maintainer['role'] . ')'; ?></option>
<?php
   }
?>
</select><input type="button" id="btn-remove" value="Remove"><br />

        <input type="button" id="btn-save" value="Save">
<?php } ?>
</form>
<?php if ($mode =="select") { ?>
<form>
    <div id="package_div">
        <label>Package:</label>&nbsp;<input name="package" id="package" type="text" value="">
    </div>
</form>
<?php } ?>

<?php
response_footer();
?>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
    $("#package").autocomplete({
        source: "/admin/package-maintainers.php?getpkg=1"
    });

    $('#btn-add').click(function(){
        var newname = $('#newname').val();
        var newrole = $('#role').val();

        if (newrole.length > 0 &&  newname.length > 0) {
            found = 0;
            $('#maintainers option').each( function(i) {
                if (newname + '|' + newrole == $(this).val()) {
                    found++;
                }
            });
            if (found < 1) {
                $('#maintainers').append("<option value='" + newname + '|' + newrole + "'>"+ newname + " (" + newrole + ")" + "</option>");
            }
        }
    });

    $('#btn-remove').click(function(){
        $('#maintainers option:selected').each( function() {
            $(this).remove();
        });
    });

    $('#btn-save').click(function(){
        $('#maintainers *').attr('selected','');
        alert($('#maintainers').serialize());
        $.get("/admin/package-maintainers.php?package=<?php echo $package_name; ?>&" + $('#maintainers').serialize(), function(data){alert(data)})
                   .success(function() {alert("Saved");})
                   .error(function(){alert("Failed");});

        $('#maintainers *').removeAttr('selected');
    });
});

</script>