<div class="packages-header">
    <h2 class="category-title"><span><a href="/packages/">Packages</a> :: <?php echo $category_title; ?> </span><span
            class="category-package-count">(<?php echo $total_packages; ?>)</span></h2>

    <div style="clear: both;"></div>
</div>
<?php if ($category_subcategory) {?>
<h3 class="packages-sub-header">
    <span>Sub-Categories</span>
</h3>
<?php foreach ($category_subcategory as $sub_category) { ?>
<ul class="categories">
    <li id="category-56" class="category category-clear">
        <h3>
            <a href="/packages/<?php echo urlencode($sub_category['name']); ?>"><span
                    class="category-title"><?php echo $sub_category['name']; ?></span> <span
                    class="category-count"><?php echo $sub_category['npackages']; ?></span></a>
        </h3>
<?php foreach ($sub_category_package[$sub_category['name']] as $pkg) { ?>
        <div>
            <a href="/package/<?php echo urlencode($pkg['name']); ?>" class="category-package"
               title="<?php echo $pkg['summary']; ?>"><?php echo $pkg['name']; ?></a>
        </div>
<?php } ?>
    </li>
</ul>
<?php } ?>
<div class="categories-clear"></div>
<?php } ?>

<h3 class="packages-sub-header">
    <span>Packages</span>

</h3>
<div class="packages">
<?php foreach ($category_package as $pkg ) { ?>
    <div class="package package-first">
        <div class="package-info">
            <div class="package-title">
                <a href="package/<?php echo $pkg['name']; ?>"><?php echo $pkg['name']; ?></a>
            </div>
            <div class="package-description">
                <p><?php echo $pkg['summary']; ?></p>
            </div>
        </div>
        <div class="package-more-info">
            <table class="package-data">
                <tbody>
<?php  if (!empty($pkg['status'])) {?>
                <tr>
                    <th>Status:</th>
                    <td><?php echo $pkg['version']; ?> (<span class="package-stable"><?php echo $pkg['status']; ?></span>) released on <abbr class="date"
                                                                                              title="2011-04-26T08:00:06+00:00">2011-04-26</abbr>
                    </td>

                </tr>
<?php } ?>
                <tr>
                    <th>License:</th>
                    <td><span class="package-license-good"><a href="http://www.php.net/license"><?php echo $pkg['license']; ?></a></span>
                    </td>
                </tr>
                <tr>
                    <th>Releases:</th>
                    <td><?php echo ($pkg['numreleases'] > 0 ? 'Yes' : 'No'); ?> </td>
                </tr>
                <tr>
                    <th>Maintained:</th>
                    <td><?php echo ($pkg['unmaintained'] == 0 ? 'Yes' : 'No'); ?> </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
<?php } ?>
</div>