<div class="packages-header">
    <h2 class="category-title">Packages <span class="category-package-count">(<?php echo $total_packages; ?>)</span></h2>
</div>
<ul class="categories">
<?php foreach ($categories as $category) {?>
    <li id="category-<?php echo $category['id']; ?>">
        <h3>
            <a href="<?php echo getQueryString($category['name']);?>">
                <span class="category-title"><?php echo $category['name']; ?></span>
                <span class="category-count"><?php echo $category['npackages']; ?></span>
            </a>
        </h3>
        <div>
            <?php foreach ($category_subcategory[$category['name']] as $sub_category) { ?>
            <a href="<?php echo getQueryString($sub_category['name']);?>" class="category-sub-category" title=""><?php echo $sub_category['name']; ?></a>,
            <?php } ?>
            <?php $count = 10; foreach ($category_package[$category['name']] as $pkg) { ?>
            <a href="/package/<?php echo $pkg['name']; ?>" class="category-package"><?php echo $pkg['name']; ?></a>
            <?php
                if ($count-- < 1) {
                    echo "...";
                    break;
                }
            ?>
            <?php } ?>
        </div>
    </li>
<?php } ?>
</ul>