<?php
response_header('Package Search');
?>
<style type="text/css">
    form fieldset {
        clear : both;
        border-style: none;
        padding: 10px; /* padding in fieldset support spotty in IE */
        margin: 0;
    }

    form {
        margin: 0;
        padding: 0;

        width: 80%;
    }
</style>
<h1>Package Search</h1>

<script type="text/javascript" language="javascript" src="javascript/calendar/browserSniffer.js"></script>
<script type="text/javascript" language="javascript" src="javascript/calendar/dynCalendar.js"></script>

<script type="text/javascript" language="javascript">

    /**
     * Resets the above variables to false when form is cleared
     */
    function form_reset() {
        searchForm = document.forms['search_form'];
        if (<?php echo(int) isset($numrows); ?>) {
            location.href = 'package-search.php';

        } else {
            /**
             * Re-enable search button
             */
            searchForm.submitButton.disabled = false;
            return true;
        }
    }

    function addEngine() {
        if ((typeof window.sidebar == "object") && (typeof window.sidebar.addSearchEngine == "function")) {
            window.sidebar.addSearchEngine(
                    "http://<?php echo PEAR_CHANNELNAME; ?>/sidebar/pear.src", /* engine URL */
                    "http://<?php echo PEAR_CHANNELNAME; ?>/sidebar/pear.gif", /* icon URL */
                    "PEAR", /* engine name */
                    "Web");
            /* category name */
        }
        else {
            alert("Mozilla M15 or later is required to add a search engine.");
        }
    }

    // -->

    var datefield = document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }

    if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
        jQuery(function($) { //on document.ready
            $('#date').datepicker({dateFormat: 'yy-mm-dd' });
        })
    }
</script>

<form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF'],ENT_QUOTES); ?>" method="get" name="search_form">
<fieldset>
        <label>Package name or sumamry contain:</label>
        <?php $form->displayText('keywords', htmlspecialchars(@$_GET['pkg_name'], ENT_QUOTES), 0, 0, 'accesskey="c"'); ?>

        <label>Maintainer</label>
        <input name="pkg_maintainer" type="text"
               value="<?php echo htmlspecialchars($_GET['pkg_maintainer'], ENT_QUOTES); ?>"/>
        <select onchange="document.forms['search_form'].pkg_maintainer.value = this.options[this.selectedIndex].value; this.selectedIndex = 0">
            <option value="">Select user...</option>
            <?php foreach($users as $u):?>
            <option value="<?php echo $u['handle']; ?>"><?php echo $u['name']; ?></option>
            <?php endforeach?>
        </select>

        <label>Category:</label>
        <select name="pkg_category">
            <option value=""></option>
            <?php foreach($category_rows as $c):?>
            <option value="<?php echo $c['id']; ?>"
            <?php echo $c['selected']; ?>><?php echo $c['name']; ?></option>
            <?php endforeach?>
        </select>

        <label>With a release</label>
        <input type="date" id="date" name="date" size="20"/>
        <select name="date_type">
            <option value="after">After this date</option>
            <option value="before">Before this date</option>
            <option value="on">On</option>
        </select>
</fieldset>
    <fieldset>
        <input type="submit" name="submitButton" value="Search"/>
        <input type="reset" value="Clear" onclick="return form_reset()"/>
    </fieldset>
</form>


<?php if($numrows):?>
<br/><br/>
<?php $bb = new Borderbox($title_html)?>

<table border="0" cellpadding="2" cellspacing="2">
    <!-- resultListStart -->
    <?php foreach($search_results as $row):?>
    <tr>
        <td>
            <!-- resultItemStart --><a href="/package/<?php echo $row['raw_name']; ?>"><?php echo $row['name']; ?></a><!-- resultItemEnd -->
        </td>
        <td><?php echo $row['summary']; ?></td>
    </tr>

    <?php endforeach?>
    <!-- resultListEnd -->
</table>

<?php $bb->end()?>
<?php elseif($numrows === 0):?>

<p><b>No results found</b></p>

<?php endif?>

<?php response_footer(); ?>
