<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?php echo $page->title; ?></title>
    <meta http-equiv="Content-Type" content="text/html; UTF-8"/>
    <link rel="shortcut icon" href="/images/pecl-favicon.ico"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <?php
    foreach ($page->style as $style_name) {
    ?>
    <link rel="stylesheet" href="<?php echo $style_name; ?>"/>
    <?php
    }
?>
    <link rel="alternate" type="application/rss+xml" title="RSS feed"
          href="http://<?php echo $_SERVER['HTTP_HOST']; ?>/feeds/latest.rss"/>
    <script type="text/javascript" language="javascript">
        var load_jquery = <?php echo $page->jquery ? 1 : 0; ?>;
        var load_jquery_date = <?php echo(isset($load_jquery_date) && $load_jquery_date) ? 1 : 0; ?>;

        if (load_jquery_date == 1) {
            var datefield = document.createElement("input");
            datefield.setAttribute("type", "date");

            //if browser doesn't support input type="date", load files for jQuery UI Date Picker
            if (datefield.type != "date") {
                load_jquery = 1;
            }
        }

        if (load_jquery == 1) {
<?php if (0) { ?>  
            document.write('<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
            document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"><\/script>\n')
            document.write('<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"><\/script>\n')
<?php } else { ?>
            document.write('<link href="/jquery/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
            document.write('<script src="/jquery/jquery.min.js"><\/script>\n')
            document.write('<script src="/jquery/jquery-ui.min.js"><\/script>\n')
<?php } ?>
        }
    </script>

    <?php foreach ($page->jsUrl as $url) { ?>
    <script src="<?php echo $url; ?>"></script>
    <?php } ?>
</head>

<body>
<div id="wrapper">
    <div id="header">
    <?php if ($auth_user) { ?>
        <div id="logo"><a href="/"><img src="/images/peclsmall.gif" style="border: 0;" width="70" alt="PECL"/></div>
        <div id="userinfo">
            <img src="https://secure.gravatar.com/avatar/<?php echo md5($auth_user->email); ?>" width="30" height="30"/>
            &nbsp;<a class="logo"
                     href="/user/<?php echo $auth_user->handle; ?>"><?php echo $auth_user->handle; ?></a>&nbsp;|&nbsp;<a
                href="/logout.php?logout=1">logout</a>
        </div>

        <ul id="menu">
            <li class="menu-item current"><a href="/index.php">Main</a></li>
            <li class="menu-item"><a href="/support/">Support</a></li>

            <li class="menu-item"><a href="/manual/">Documentation</a></li>
            <li class="menu-item"><a href="/packages/">Packages</a></li>
            <li class="menu-item"><a href="/accounts/">Developers</a></li>
            <li class="menu-item menu-item-last"><a href="/bugs/">Bugs</a></li>
        </ul>

    <?php } ?>

    </div>

    <div id="content-wrapper">
        <div id="content-inner">
            <?php echo $page->contents; ?>
        </div>
    </div>
    <div id="footer">Footer</div>
</div>
</body>
</html>