<h1>Edit Profile: <a href="/user/pajoye"><?php echo $auth_user->name ?>(<?php echo $auth_user->handle;?>)</a></h1>
<form action="/user/<?php echo $auth_user->handle; ?>" method="post" >
Name: <input type="text" name="name" size="40" value="Pierre Joye" accesskey="n"/><br />
Homepage: <input type="text" name="homepage" size="40" value="http://blog.thepimp.net" /><br />
Wishlist URI: <input type="text" name="wishlist" size="40" value="http://blog.thepimp.net/archives/Please-Donate.html" /><br />
Additional User Information:<p class="cell_note">(limited to 255 chars)
<textarea name="userinfo" cols="40" rows="5" ></textarea><br />

<input type="submit" name="submit" value="Submit" />
<input type="hidden" name="handle" value="pajoye" />
<input type="hidden" name="command" value="update" />
<input type="hidden" name="_fields" value="name:email:showemail:homepage:wishlist:pgpkeyid:userinfo:cvs_acl:submit:handle:command" />
</form>
