{% extends "layout.html.twig" %}
{% block content %}
<h1>About this site</h1>
<p>This site has been created and is maintained by a number of people, which are listed on the <a href="/credit">credits page</a>.
    If you would like to contact them, you can write to <a href="mailto:pear-webmaster@php.net">pear-webmaster@php.net</a>.</p>
<p>It has been built with <a target='_blank' href="http://httpd.apache.org">Apache</a>, <a target='_blank' href="http://php.net">PHP</a>,
    <a target='_blank' href="http://www.mysql.com">MySQL</a> and some (as you might have guessed) PEAR packages. Additionally we have started to use a set of utility classes. We call it
    <a href="/about/damblan">Damblan</a>. The source code of the website is <a target='_blank' href="http://cvs.php.net/viewvc.cgi/pearweb/">available via CVS</a>.
</p>
<p>Read the <a href="/about/privacy">privacy policy</a>.</p>
{% endblock %}