{% extends "layout.html.twig" %}

{% block content %}
<h1>Document Type Definitions</h1>
<p>The following Document Type Definitions are used in PEAR :</p>
<ul>
    <li><a href="/dtd/package-1.0">package-1.0</a></li>
</ul>
<p>
    This is the <acronym title="Document Type Definition">DTD</acronym>
    that defines the legal building blocks of the <tt>package.xml</tt>
    file that comes with each package. More information about
    <tt>package.xml</tt> can be found
    <a href="/manual/en/developers.packagedef.php">in the manual</a>.
    <br/><br/>A <a href="/dtd/package-1.0.xsd"><acronym title="XML Schema Definition">XSD</acronym> file</a> is
    available as well. (Slightly outdated)
</p>
{% endblock %}