<!DOCTYPE html>
<html>
<head>
    <title>{{ title|default('PECL') }}</title>
    <meta http-equiv="Content-Type" content="text/html; UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/gifs/pecl-favicon.ico"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=2.0.4"/>
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css?v=2.0.4"/>
    <link rel="stylesheet" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/chosen.css"/>
    <link rel="stylesheet" href="/css/pecl.css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="http://pecl.local/feeds/latest.rss"/>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class='container'>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class='nav-collapse'>
                    <a class="brand" href="/">PECL</a>
                    <ul class="nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/support">Support</a></li>
                        <li><a href="/documentation">Documentation</a></li>
                        <li class="dropdown" data-dropdown="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Packages<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/packages"><i clas?v=2.0.4s="icon-list"></i> Browse all packages</a></li>
                                <li><a href="/search"><i class="icon-search"></i> Search packages</a></li>
                                <li><a href="/statistics"><i class="icon-download"></i> Download statistics</a></li>
                            </ul>
                        </li>
                        <li><a href="/developers">Developers</a></li>
                        <li><a href="https://bugs.php.net">Bugs</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a data-toggle="modal" href="#login-modal">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class='footer'>
        <p><a href="/copyright">Copyright &copy; 2001-2012 The PHP Group</a> - All rights reserved.</p>
    </div>
</div>
<div id="login-modal" class="modal hide">
    <form action='#' method="post">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Connection</h3>
        </div>
        <div class="modal-body">
            <div class="clearfix">
                <label for="login">Login</label>

                <div class="input">
                    <input id="login" type="text" size="30" name="login"/>
                </div>
            </div>
            <div class="clearfix">
                <label for="password">Password</label>

                <div class="input">
                    <input id="password" type="password" size="30" name="password"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary">Login</a>
        </div>
    </form>
</div>
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js?v=2.0.4" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.min.js" type="text/javascript"></script>
<script src="/js/pecl.js" type="text/javascript"></script>
</body>
</html>
